{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<div id="Banner-{{ section.id }}" class="banner-com-link">

  <h1>CONTENT</h1>

</div>



{% comment %} 
// Settings
Message: {{ settings.message }}
// Section
Message: {{ section.settings.message }}
// Block
Message: {{ block.settings.message }}
{% endcomment %}



{% schema %}
{
  "name": "t:sections.page.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "Slidez"
    }
  ],
  "presets": [
    {
      "name": "Sliderz"
    }
  ]
}
{% endschema %}