{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<div id="Banner-{{ section.id }}" class="banner-com-link">

  <h1>CONTENT</h1>

</div>



{% comment %} 

// Settings
Message: {{ settings.message }}
// Section
Message: {{ section.settings.message }}
// Block
Message: {{ block.settings.message }}

{% endcomment %}


{% schema %}
    {
      "name": "Auto Slider",
      "settings": [
        {
          "type": "header",
          "content": "My settings"
        },
        {
          "type": "text",
          "id": "my_id",
          "label": "My setting label",
          "default": "Enter text here"
        },
        {
          "type": "textarea",
          "id": "my_second_id",
          "label": "Welcome message",
          "default": "Welcome to my shop!"
        }
      ]
    }
    
{% endschema %}

