{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<div id="Banner-{{ section.id }}" class="banner-com-link">

  <h1>CONTENT {{ section.settings.iDtexto }}</h1>

</div>



{% comment %} 
// Settings
Message: {{ settings.message }}
// Section
Message: {{ section.settings.message }}
// Block
Message: {{ block.settings.message }}
{% endcomment %}



{% schema %}
{
  "name": "Auto Slider",
  "tag": "section",
  "class": "slideshow",
  "limit": 4,
  "settings": [
    {
      "type": "text",
      "id": "iDtexto",
      "label": "Descrição Alt Text"
    },
    {
      "type": "paragraph",
      "content": "Alt Text (Texto Alternativo) é o texto da descrição da imagens, aquele que é lido em voz alta por leitores de tela, ajudando os usuários com deficiência visual a navegar na web e melhorando a posição SEO."
    }
  ],
  "presets": [
    {
      "name": "Auto Slider"
    }
  ]
}
{% endschema %}