{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<div id="Banner-{{ section.id }}" class="banner-com-link">

  <h1>settings.txt_alt_text = {{ section.settings.txt_alt_text }}</h1>
  
   <img
    loading="lazy"
    src="{{ section.settings.txt_alt_text | image_url }}"
    width="100"
    height="100"
  />

</div>



{% comment %} 
// Settings
Message: {{ settings.message }}
// Section
Message: {{ section.settings.message }}
// Block
Message: {{ block.settings.message }}
{% endcomment %}



{% schema %}
{
  "name": "Auto Slider",
  "tag": "section",
  "class": "slideshow",
  "settings": [
    {
      "type": "text",
      "id": "txt_alt_text",
      "label": "Descrição Alt Text"
    },
    {
      "type": "paragraph",
      "content": "Alt Text é o texto que descreve as imagens."
    }
  ],
  "presets": [
    {
      "name": "Auto Slider"
    }
  ]
}
{% endschema %}
