{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<div id="Banner-{{ section.id }}" class="banner-com-link">

  <h1>CONTENT {{ settings.label }}</h1>

</div>



{% comment %} 
// Settings
Message: {{ settings.message }}
// Section
Message: {{ section.settings.message }}
// Block
Message: {{ block.settings.message }}
{% endcomment %}



{% schema %}
{
  "name": "Zlider",
  "tag": "section",
  "class": "slideshow",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "iDtexto",
      "label": "Slidez1"
    }
  ],
  {
    "type": "header",
    "content": "Announcement bar"
  },
  "presets": [
    {
      "name": "Auto Slider"
    }
  ]
}
{% endschema %}