{{ '_style-auto-slider.css' | asset_url | stylesheet_tag }}

<div id="Banner-{{ section.id }}" class="div-slider">

  <section id="section-auto-play">
      <article class="anima-auto-play">
        
        <div id="lista-imagens-01">
          <ul id="ul_img_slider">
            <li id="img_exib_01">
              <a href="{{ product_01.url }}">
              <img
                id="imgSetSliderAutoPlay"
                class="alturaImg_{% if section.settings.altura_100vh %}100{% endif %}vh"
                loading="lazy"
                src="{{ section.settings.product_01 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text_imagem | escape }}"
              />
              </a>
            </li>
            <li id="img_exib_02">
              <a href="{{ product_01.url }}">
              <img
                id="imgSetSliderAutoPlay"
                class="alturaImg_{% if section.settings.altura_100vh %}100{% endif %}vh"
                loading="lazy"
                src="{{ section.settings.product_02 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text_imagem | escape }}"
              />
              </a>
            </li>
            <li id="img_exib_03">
              <a href="{{ product_01.url }}">
              <img
                id="imgSetSliderAutoPlay"
                class="alturaImg_{% if section.settings.altura_100vh %}100{% endif %}vh"
                loading="lazy"
                src="{{ section.settings.product_03 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text_imagem | escape }}"
              />
              </a>
            </li>
            <li id="img_exib_04">
              <a href="{{ product_01.url }}">
              <img
                id="imgSetSliderAutoPlay"
                class="alturaImg_{% if section.settings.altura_100vh %}100{% endif %}vh"
                loading="lazy"
                src="{{ section.settings.product_04 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text_imagem | escape }}"
              />
              </a>
            </li>
          </ul>
        </div>
        
        <div id="lista-imagens-02">
          <ul id="ul_img_slider">
            <li id="img_exib_01">
              <a href="{{ product_01.url }}">
              <img
                id="imgSetSliderAutoPlay"
                class="alturaImg_{% if section.settings.altura_100vh %}100{% endif %}vh"
                loading="lazy"
                src="{{ section.settings.product_01 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text_imagem | escape }}"
              />
              </a>
            </li>
            <li id="img_exib_02">
              <a href="{{ product_01.url }}">
              <img
                id="imgSetSliderAutoPlay"
                class="alturaImg_{% if section.settings.altura_100vh %}100{% endif %}vh"
                loading="lazy"
                src="{{ section.settings.product_02 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text_imagem | escape }}"
              />
              </a>
            </li>
            <li id="img_exib_03">
              <a href="{{ product_01.url }}">
              <img
                id="imgSetSliderAutoPlay"
                class="alturaImg_{% if section.settings.altura_100vh %}100{% endif %}vh"
                loading="lazy"
                src="{{ section.settings.product_03 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text_imagem | escape }}"
              />
              </a>
            </li>
            <li id="img_exib_04">
              <a href="{{ product_01.url }}">
              <img
                id="imgSetSliderAutoPlay"
                class="alturaImg_{% if section.settings.altura_100vh %}100{% endif %}vh"
                loading="lazy"
                src="{{ section.settings.product_04 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text_imagem | escape }}"
              />
              </a>
            </li>
          </ul>
        </div>

        <div id="lista-imagens-03">
          <ul id="ul_img_slider">
            <li id="img_exib_01">
              <a href="{{ product_01.url }}">
              <img
                id="imgSetSliderAutoPlay"
                class="alturaImg_{% if section.settings.altura_100vh %}100{% endif %}vh"
                loading="lazy"
                src="{{ section.settings.product_01 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text_imagem | escape }}"
              />
              </a>
            </li>
            <li id="img_exib_02">
              <a href="{{ product_01.url }}">
              <img
                id="imgSetSliderAutoPlay"
                class="alturaImg_{% if section.settings.altura_100vh %}100{% endif %}vh"
                loading="lazy"
                src="{{ section.settings.product_02 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text_imagem | escape }}"
              />
              </a>
            </li>
            <li id="img_exib_03">
              <a href="{{ product_01.url }}">
              <img
                id="imgSetSliderAutoPlay"
                class="alturaImg_{% if section.settings.altura_100vh %}100{% endif %}vh"
                loading="lazy"
                src="{{ section.settings.product_03 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text_imagem | escape }}"
              />
              </a>
            </li>
            <li id="img_exib_04">
              <a href="{{ product_01.url }}">
              <img
                id="imgSetSliderAutoPlay"
                class="alturaImg_{% if section.settings.altura_100vh %}100{% endif %}vh"
                loading="lazy"
                src="{{ section.settings.product_04 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text_imagem | escape }}"
              />
              </a>
            </li>
          </ul>
        </div>

        <div id="lista-imagens-04">
          <ul id="ul_img_slider">
            <li id="img_exib_01">
              <a href="{{ product_01.url }}">
              <img
                id="imgSetSliderAutoPlay"
                class="alturaImg_{% if section.settings.altura_100vh %}100{% endif %}vh"
                loading="lazy"
                src="{{ section.settings.product_01 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text_imagem | escape }}"
              />
              </a>
            </li>
            <li id="img_exib_02">
              <a href="{{ product_01.url }}">
              <img
                id="imgSetSliderAutoPlay"
                class="alturaImg_{% if section.settings.altura_100vh %}100{% endif %}vh"
                loading="lazy"
                src="{{ section.settings.product_02 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text_imagem | escape }}"
              />
              </a>
            </li>
            <li id="img_exib_03">
              <a href="{{ product_01.url }}">
              <img
                id="imgSetSliderAutoPlay"
                class="alturaImg_{% if section.settings.altura_100vh %}100{% endif %}vh"
                loading="lazy"
                src="{{ section.settings.product_03 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text_imagem | escape }}"
              />
              </a>
            </li>
            <li id="img_exib_04">
              <a href="{{ product_01.url }}">
              <img
                id="imgSetSliderAutoPlay"
                class="alturaImg_{% if section.settings.altura_100vh %}100{% endif %}vh"
                loading="lazy"
                src="{{ section.settings.product_04 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text_imagem | escape }}"
              />
              </a>
            </li>
          </ul>
        </div>
        
      </article>
    </section>

</div>


<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ '_jquery_auto_slider.js' | asset_url }}" defer="defer"></script>


{% schema %}
{
  "name": "Auto Slider (PROD)",
  "tag": "section",
  "class": "slideshow",
  "settings": [
    {
      "type": "text",
      "id": "txt_alt_text_imagem",
      "label": "Descrição das imagens"
    },
    {
      "type": "paragraph",
      "content": "Descreva de forma resumida sobre as imagens exibidas neste bloco"
    },
    {
      "type": "checkbox",
      "id": "altura_100vh",
      "default": false,
      "label": "Altura de 100% da tela"
    },
    {
      "type": "product",
      "id": "product_01",
      "label": "Produto 1"
    },
    {
      "type": "product",
      "id": "product_02",
      "label": "Produto 2"
    },
    {
      "type": "product",
      "id": "product_03",
      "label": "Produto 3"
    },
    {
      "type": "product",
      "id": "product_04",
      "label": "Produto 4"
    }
  ],
  "presets": [
    {
      "name": "Auto Slider (Produto)"
    }
  ]
}
{% endschema %}