{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<div id="Banner-{{ section.id }}" class="banner-com-link">

  <h1>settings.txt_alt_text = {{ settings.txt_alt_text }}</h1>
  
  <img
    loading="lazy"
    src="{{ section.settings.sampleid | image_url: '200x200' }}"
    width=""
    height=""
  />

</div>



{% comment %} 
// Settings
Message: {{ settings.message }}
// Section
Message: {{ section.settings.message }}
// Block
Message: {{ block.settings.message }}
{% endcomment %}



{% schema %}
{
  "name": "Auto Slider",
  "tag": "section",
  "class": "slideshow",
  "max_blocks": 3,
  "settings": [
    {
      "type": "text",
      "id": "txt_alt_text",
      "label": "Descrição Alt Text"
    },
    {
      "type": "paragraph",
      "content": "Alt Text é o texto que descreve as imagens."
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/online-store/dynamic-checkout)",
      "default": true
    },
  ],
  "presets": [
    {
      "name": "Auto Slider"
    }
  ]
}
{% endschema %}
