{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<div id="Banner-{{ section.id }}" class="banner-com-link">

  <h1>settings.txt_alt_text = {{ settings.txt_alt_text }}</h1>
  
  <img
    loading="lazy"
    src="{{ section.settings.sampleid | image_url: '200x200' }}"
    width="100"
    height="100"
  />

</div>



{% comment %} 
// Settings
Message: {{ settings.message }}
// Section
Message: {{ section.settings.message }}
// Block
Message: {{ block.settings.message }}
{% endcomment %}



{% schema %}
{
  "name": "Auto Slider",
  "tag": "section",
  "class": "slideshow",
  "max_blocks": 4,
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.newsletter.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.newsletter.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.newsletter.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.newsletter.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.newsletter.settings.color_scheme.options__5.label"
        },
        {
          "default": "background-1",
          "label": "XYZ875784"
        }
      ],
    },
    {
      "type": "text",
      "id": "txt_alt_text",
      "label": "Descrição Alt Text"
    },
    {
      "type": "paragraph",
      "content": "Alt Text é o texto que descreve as imagens."
    }
  ],
  "presets": [
    {
      "name": "Auto Slider"
    }
  ]
}
{% endschema %}
