{{ '_style-auto-slider.css' | asset_url | stylesheet_tag }}
<script defer src="{{ '_jquery_auto_slider.js' | asset_url }}">
</script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
</script>

<div id="Banner-{{ section.id }}" class="div-slider">

  <section id="section-auto-play">
      <article class="anima-auto-play">
        
        <div id="lista-imagens-01">
          <ul id="ul_img_slider">
            <li id="img_exib_01">
              <img
                id="imgSetSliderAutoPlay"
                loading="lazy"
                src="{{ section.settings.image_01 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text | escape }}"
              />
            </li>
            <li id="img_exib_02">
              <img
                id="imgSetSliderAutoPlay"
                loading="lazy"
                src="{{ section.settings.image_02 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text | escape }}"
              />
            </li>
            <li id="img_exib_03">
              <img
                id="imgSetSliderAutoPlay"
                loading="lazy"
                src="{{ section.settings.image_03 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text | escape }}"
              />
            </li>
            <li id="img_exib_04">
              <img
                id="imgSetSliderAutoPlay"
                loading="lazy"
                src="{{ section.settings.image_04 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text | escape }}"
              />
            </li>
          </ul>
        </div>
        
        <div id="lista-imagens-02">
          <ul id="ul_img_slider">
            <li id="img_exib_01">
              <img
                id="imgSetSliderAutoPlay"
                loading="lazy"
                src="{{ section.settings.image_01 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text | escape }}"
              />
            </li>
            <li id="img_exib_02">
              <img
                id="imgSetSliderAutoPlay"
                loading="lazy"
                src="{{ section.settings.image_02 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text | escape }}"
              />
            </li>
            <li id="img_exib_03">
              <img
                id="imgSetSliderAutoPlay"
                loading="lazy"
                src="{{ section.settings.image_03 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text | escape }}"
              />
            </li>
            <li id="img_exib_04">
              <img
                id="imgSetSliderAutoPlay"
                loading="lazy"
                src="{{ section.settings.image_04 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text | escape }}"
              />
            </li>
          </ul>
        </div>

        <div id="lista-imagens-03">
          <ul id="ul_img_slider">
            <li id="img_exib_01">
              <img
                id="imgSetSliderAutoPlay"
                loading="lazy"
                src="{{ section.settings.image_01 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text | escape }}"
              />
            </li>
            <li id="img_exib_02">
              <img
                id="imgSetSliderAutoPlay"
                loading="lazy"
                src="{{ section.settings.image_02 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text | escape }}"
              />
            </li>
            <li id="img_exib_03">
              <img
                id="imgSetSliderAutoPlay"
                loading="lazy"
                src="{{ section.settings.image_03 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text | escape }}"
              />
            </li>
            <li id="img_exib_04">
              <img
                id="imgSetSliderAutoPlay"
                loading="lazy"
                src="{{ section.settings.image_04 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text | escape }}"
              />
            </li>
          </ul>
        </div>

        <div id="lista-imagens-04">
          <ul id="ul_img_slider">
            <li id="img_exib_01">
              <img
                id="imgSetSliderAutoPlay"
                loading="lazy"
                src="{{ section.settings.image_01 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text | escape }}"
              />
            </li>
            <li id="img_exib_02">
              <img
                id="imgSetSliderAutoPlay"
                loading="lazy"
                src="{{ section.settings.image_02 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text | escape }}"
              />
            </li>
            <li id="img_exib_03">
              <img
                id="imgSetSliderAutoPlay"
                loading="lazy"
                src="{{ section.settings.image_03 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text | escape }}"
              />
            </li>
            <li id="img_exib_04">
              <img
                id="imgSetSliderAutoPlay"
                loading="lazy"
                src="{{ section.settings.image_04 | img_url: '900x' }}"
                alt="{{ section.settings.txt_alt_text | escape }}"
              />
            </li>
          </ul>
        </div>
        
      </article>
    </section>

</div>




{% schema %}
{
  "name": "Auto Slider",
  "tag": "section",
  "class": "slideshow",
  "settings": [
    {
      "type": "text",
      "id": "txt_alt_text",
      "label": "Descrição Alts Text"
    },
    {
      "type": "paragraph",
      "content": "Descrição da coleção."
    },
    {
      "type": "image_picker",
      "id": "image_01",
      "label": "Imagem 1"
    },
    {
      "type": "image_picker",
      "id": "image_02",
      "label": "Imagem 2"
    },
    {
      "type": "image_picker",
      "id": "image_03",
      "label": "Imagem 3"
    },
    {
      "type": "image_picker",
      "id": "image_04",
      "label": "Imagem 4"
    }
  ],
  "presets": [
    {
      "name": "Auto Slider"
    }
  ]
}
{% endschema %}